{% extends 'base.html' %}

{% block title %}My bank accounts{% endblock %}

{% block content %}

<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="panel-heading">
                <h2 class="title">My accounts</h2>
            </div>
            <table class="table">
                <thead>
                    <tr>
                      <th scope="col">Date opened</th>
                      <th scope="col">Account Type</th>
                      <th scope="col">Current Balance</th>
                    </tr>
                </thead>
                <tbody>
                {% for account in account_list %}
                <tr>
                    <th scope="row">{{ account.created_at|date:"d-m-y" }}</th>
                    <td>{{ account.bankaccounttype }}</td>
                    <td><a href="{% url 'my-transactions' account.id %}">{{ account.balance }}</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <pre></pre>
    <div class="card">
        <div class="card-body">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="title">My account applications</h2>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                          <th scope="col">Date applied</th>
                          <th scope="col">Account Type</th>
                          <th scope="col">Current Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for application in application_list %}
                    <tr>
                        <th scope="row">{{ application.created_at|date:"d-m-y" }}</th>
                        <td>{{ application.bankaccounttype }}</td>
                        <td>{{ application.status }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}