{% extends 'base.html' %}
{% load embed_video_tags %}
{% load crispy_forms_tags %}

{% block title %}Error{% endblock %}

{% block content %}
    <div class="container">
        <div class="container">
            <div class="card-body">
                <div class="card-deck">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <p class="card-title"><h5><a href="{% url 'advanced-search' %}">Advanced transaction search</a></h5></p>
                            <p class="card-text">Intuitively search your transactions</p>
                        </div>
                    </div>
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <p class="card-title"><h5><a href="{% url 'transactions-map' %}">Where have I transacted?</a></h5></p>
                            <p class="card-text">Map out where you have transacted using your elasti_bank services.</p>
                        </div>
                    </div>
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <p class="card-title"><h5>What do I spend my money on?</h5></p>
                            <p class="card-text">Let us take a deeper look at how you spend your money.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <pre></pre>
    </div>
{% endblock %}