{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}elasti_bank{% endblock %}

{% block content %}
    <div>
        <h1 class="title">The bank that cares about you.</h1>
    </div>
    {% if user.is_authenticated %}
        <div class="card">
            <div class="card-body">
                <h2 class="title">Your accounts:</h2>
                <table class="table">
                    <thead>
                        <tr>
                          <th scope="col">Account number</th>
                          <th scope="col">Account Type</th>
                          <th scope="col">Current Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for account in my_accounts %}
                        <tr>
                            <th scope="row"><a href="{% url 'my-transactions' account.id %}">{{ account.account_number }}</a></th>
                            <td>{{ account.bankaccounttype }}</td>
                            <td>{{ account.balance }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <pre></pre>
        <div>
            <div style="display: flex; justify-content: space-between; width: 100%;">
                <a class="btn btn-info" href="{% url 'send-money' %}" style="width: 50%;">Make a payment</a>
                <div style="width: 5%;"></div>
                <a class="btn btn-info" href="{% url 'transfer-money' %}" style="width: 50%;">Transfer money</a>
                <div style="width: 5%;"></div>
                <a class="btn btn-info" href="{% url 'bank-account-application' %}" style="width: 50%;">Open an account</a>
            </div>
        </div>
        <pre></pre>
        <div class="card">
            <div class="card-body">
                <h2 class="title">Your most recent transactions</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Transaction Date and Time</th>
                            <th scope="col">Transaction Type</th>
                            <th scope="col">Value</th>
                            <th scope="col">Recipient Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in transactions %}
                        <tr>
                            <th scope="row"><a href="{% url 'transaction-detail' transaction.id transaction.value %}"> {{ transaction.created_at|date:"d-m-Y H:i:s" }}</a></th>
                            <td>{{ transaction.transaction_type }}</td>
                            <td>{{ transaction.value }}</td>
                            <td>{{ transaction.recipient_name }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
    <pre></pre>
    {% if user.is_authenticated %}
        {% if offer_transactions %}
        <div>
            <div>
                <h1 class="title">Tailor made offers for you:</h1>
                <div class="card-deck">
                  {% for offer in offers %}
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h2 class="title"><a href="{% url 'bank-account-application' %}">{{ offer.name }}</a></h2>
                            <p class="card-text">{{ offer.description }}</p>
                            <p class="card-text">This offer is based on these entries in you transaction history:</p>
                            <ul>
                            {% for t in offer_transactions %}
                                {% if t.campaign_name == offer.name %}
                                    <li class="small">{{ t.description }} - {{ t.score }}
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    {% endif %}
    <pre></pre>
    <div>
        <div>
            <h2 class="title">All services</h2>
            <div class="card-deck">
                {% for i in bankaccounttypes_list %}
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <p class="card-title"><h5> <a href="{% url 'bank-account-application' %}">{{ i.typename }}</a></h5></p>
                        <p class="card-text">{{ i.description }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


