input {
  sqlite {
    path => "../Dev/django_apm-master/db.sqlite3"
    type=> content
  }
}
output {
    elasticsearch {
        cloud_id => "Special-Projects-Use-Cases:dXMtZWFzdC0yLmF3cy5lbGFzdGljLWNsb3VkLmNvbTo0NDMkOTQzMDRmOTJhZTU2NDY1M2FkNmRlMzExYThmNjg1MDAkNzhiNTFhNDRiYzc2NDAyN2IxNGZlNjFmZTNkZDVkZTE="
        cloud_auth => "elastic:B6JVRI9Uhz0qz9uJKVsdqPed"
        index => "elasti_bank"
        }
    stdout { codec => rubydebug}
}